.squigglemouth
  animation: 10s fall-big 14s infinite
  position: absolute
  top: -400px
  left: 60vw
  z-index: 2

.totem
  animation: 20s fall 2s infinite
  position: absolute
  left: 50vw
  top: -200px

.orange-mindpath
  animation: 30s fall 6s infinite
  position: absolute
  top: -300px
  left: 80vw

.moutheye
  animation: 15s fall 4s infinite
  position: absolute
  top: -300px
  left: 30vw

.palmtree
  animation: 15.5s fall 5s infinite
  position: absolute
  top: -300px
  left: 5vw

.cactus
  animation: 12s fall 7s infinite
  position: absolute
  top: -300px
  left: 25vw
  z-index: 2

@keyframes fall
  0%
    transform: translateY(-200px)

  100%
    transform: translateY(calc(100vh + 800px))

@keyframes fall-big
  0%
    transform: translateY(-2000px)

  100%
    transform: translateY(calc(100vh + 600px))

@keyframes spin
  100%
    transform: rotateZ(1080deg)
