*, 
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 0
  margin: 0
  list-style: none
  text-decoration: none
  color: #000000

html
  width: 100vw
  height: 100vh


img
  width: 100%

.container
  width: 1024px
  margin: 0 auto
  @media #{$tablet}
    width: 700px
  @media #{$mobile}
    width: 300px
