header
  height: 10vh
  width: 100%
  display: flex
  align-items: center

.navbar
  display: flex
  justify-content: space-between
  align-items: center

.ddlogo
  // border: 1px solid blue
  width: auto
  height: 5vh
  display: flex
  align-items: center
  &:hover
    path
      fill: #F8E71C

.nav
  display: flex
  justify-content: flex-end
  // border: 1px solid magenta
  width: 70%
  p
    font-family: "Rubik Bold"
    margin-left: 10%
    &:hover
      background: #F8E71C
