header
  height: 10vh
  width: 100%  
  display: flex
  align-items: center


.container
  width: 80%
  margin: 0 auto
  // border: 1px solid blue

.wrapper
  display: flex
  justify-content: space-between
  align-items: center

.ddlogo
  // border: 1px solid blue
  width: auto
  height: 5vh
  display: flex
  align-items: center
  &:hover
    path
      fill: #F8E71C

.nav
  display: flex
  justify-content: space-around
  // border: 1px solid magenta
  width: 40%
  p
    font-family: "Rubik Bold"
    &:hover
      background: #F8E71C
