header
  height: 80px
  width: 100%
  display: flex
  align-items: center
  position: fixed
  z-index: 20
  background: white
  transition: all 0.3s ease-in-out

.hidden
  transform: translateY(-100%)

.navbar
  display: flex
  justify-content: space-between
  width: 100%
  height: 100%
  align-items: center



.ddlogo
  width: auto
  height: 40px
  display: flex
  align-items: center
  z-index: 10

.nav
  display: flex
  justify-content: flex-end
  width: 70%
  height: 100%
  z-index: 10
  a
    margin-left: 10%
    p
      font-family: "Rubik Bold"
      font-size: 1rem
