section
  position: relative
  height: 90vh
  width: 100vw

.splash-bg-hi
  position: absolute
  width: 100%
  height: 90%
  display: flex
  justify-content: center
  align-items: center
  z-index: -10


.splash-heading
  position: absolute
  margin-left: 50vw
  left: -30vw
  top: 20vh

//•••••• ABOUT •••••••
.profile
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  margin: 4vh auto 8vh auto


.headshot
  flex-shrink: 0
  width: 200px
  height: 200px
  background-size: contain
  background-image: url("../img/dustin_headshot_400x400.jpg")
  border-radius: 100%

.bio
  margin-left: 4vw
  width: 50vw
  h3
    line-height: 2rem
    &:last-of-type
      margin-top: 0.8rem

.contact-icons
  display: flex
  justify-content: space-between
  align-items: flex-end
  width: 50%
  margin-top: 1rem



.mental-data-lists
  display: flex
  justify-content: space-between
  width: 90%
  margin: 0 auto

.column-mental
  display: flex
  flex-direction: column
  align-content: space-between
  // width: 30%

.mental-header
  display: flex
  ul
    margin-right: 2rem

//•••••• WORK •••••••
.desktop-mock
  margin-bottom: 6rem
  img
    margin-bottom: 2rem
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3)
  h2
    margin-bottom: 1rem

.project-header
  display: flex
  // justify-content: space-between
  width: 100%

.project-links
  display: flex
  justify-content: space-between
  align-items: baseline
  width: 80px
  margin-left: 2rem

.project-details
  display: flex
  margin-bottom: 1rem


.project-description
  width: 60%
  margin: 0 1rem
  p
    margin-bottom: 0.8rem

.project-util
  // border: 6px solid black
  // border-radius: 8px
  width: 30%
  height: auto
  h4
    border-top: 2px solid black
    border-bottom: 2px solid black
    padding: 0.3rem 0.5rem
    color: black
    width: 100%
    text-align: center
    margin-bottom: 0.8rem
  ul
    margin: 0 1rem
    li
      margin: 0.3rem 0

.collab
  img
    margin-bottom: 2rem



// •••••• BLOG ••••••
.blog-post-header
  width: 100%
