section
  position: relative
  height: 80vh
  width: 100%
  top: 80px

.splash-bg-hi
  position: absolute
  width: 100%
  height: 90%
  display: flex
  justify-content: center
  align-items: center
  z-index: -10


.splash-heading
  position: absolute
  left: 50%
  top: 20vh
  @media #{$desktop}
    margin-left: -400px
  @media #{$tablet}
    margin-left: -350px
    h1
      font-size: 3.45rem
  @media #{$mobile}
    margin-left: -160px
    h1
      font-size: 2.5rem
      line-height: 3rem
      margin-bottom: 1rem
      top: 20vh


//•••••• ABOUT •••••••

.profile
  display: flex
  width: 100%
  margin: 4vh auto 8vh auto

.profile-col-left
  display: flex
  align-items: center
  flex-direction: column
  flex: 1

.profile-col-right
  display: flex
  flex-direction: column
  flex: 2

.headshot
  width: 200px
  height: 200px
  background-size: contain
  background-image: url("../img/dustin_headshot_400x400.jpg")
  background-repeat: no-repeat
  border-radius: 100%
  margin-bottom: 1rem

.bio
  margin-bottom: 2rem
  h3
    line-height: 2rem
    &:last-of-type
      margin-top: 0.8rem

.contact-icons
  display: flex
  justify-content: space-between
  align-items: flex-end
  flex-wrap: wrap
  width: 100px
  margin-top: 1rem
  svg
    margin: 5px

.mental-data-lists
  display: flex
  justify-content: space-between
  width: 90%
  margin: 0.5rem auto 0 auto


.column-mental
  display: flex
  flex-direction: column
  align-content: space-between

.mental-header
  display: flex
  ul
    margin-right: 2rem

//•••••• WORK •••••••
.projects-nav
  width: 20%
  margin-top: 80px
  ul
    position: fixed
    color: red

.projects
  width: 80%

.desktop-mock
  margin-bottom: 6rem
  width: 100%
  img
    margin-bottom: 2rem
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3)
  h2
    margin-bottom: 1rem
  p
    margin-bottom: 0.8rem
    margin: 0 0 0.8rem 1rem

.project-header
  display: flex
  // justify-content: space-between
  width: 100%

.project-links
  display: flex
  justify-content: space-between
  align-items: baseline
  width: 80px
  margin-left: 2rem

.project-details
  display: flex
  margin-bottom: 1rem

.project-description
  width: 60%
  margin: 0 1rem 0 0


.project-util
  // border: 6px solid black
  // border-radius: 8px
  width: 30%
  height: auto
  h4
    border-top: 2px solid black
    border-bottom: 2px solid black
    padding: 0.3rem 0.5rem
    color: black
    width: 100%
    text-align: center
    margin-bottom: 0.8rem
  ul
    margin: 0 1rem
    li
      margin: 0.3rem 0

.collab
  img
    margin-bottom: 2rem

#invision-collab
  margin-top: -100px
  margin-left: calc(50% - 220px)
