@font-face
  font-family: "Rubik Bold"
  src: url("../font/rubik/Rubik-Bold.ttf")

@font-face
  font-family: "Franklin Book"
  src: url("../font/franklin-gothic/franklingothic-book.otf")

@font-face
  font-family: "Franklin Demi"
  src: url("../font/franklin-gothic/franklingothic-demi.otf")

h1
  font-family: "Rubik Bold"
  font-size: 4rem
  line-height: 5.5rem

h2
  font-family: "Rubik Bold"
  font-size: 2rem
  // line-height: 5.5rem

h3
  font-family: "Franklin Book"
  font-size: 1.5rem

h4
  font-family: "Franklin Demi"
  font-size: 1.1rem

p
  font-family: "Franklin Book"
  font-size: 0.9rem

strong
  font-family: "Rubik Bold"
  font-size: 0.9rem

li
  font-family: "Franklin Book"
  font-size: 0.9rem
  a
    .active
      background: $color-main-yellow
    &:hover
      background: $color-main-yellow

a
  transition: all 0.2s ease-in-out
  &:hover
    transform: translateY(-0.2rem)

.yellow-highlight
  background: $color-main-yellow
